<!DOCTYPE html>
<html>

<head>
    <title>Sistema Reportes</title>
</head>

<body>

<h1>Sistema de Reportes Ciudadanos</h1>

<a href="/usuarios">Usuarios</a><br>
<a href="/reportes">Reportes</a><br>
<a href="/categorias">Categorias</a><br>
<a href="/gps">GPS</a><br>
<a href="/imagenes">Imagenes</a><br>
<a href="/estados">Estados</a><br>
<a href="/historial">Historial</a><br>
<a href="/comentarios">Comentarios</a><br>
<a href="/votos">Votos</a><br>
<a href="/dependencias">Dependencias</a><br>
<a href="/asignaciones">Asignaciones</a><br>
<a href="/admin">Panel Admin</a><br>
<a href="/auditoria">Auditoria</a><br>

</body>
</html>