<!DOCTYPE html>
<html>

<head>
    <title>Usuarios</title>
</head>

<body>

    <h1>Bienvenido {{ nombre }}</h1>

    <a href="/logout">
        Cerrar Sesión
    </a>

    <hr>

    <h2>Usuarios Registrados</h2>

    <table border="1">

        <tr>
            <th>Nombre</th>
            <th>Correo</th>
        </tr>

        {% for usuario in usuarios %}

        <tr>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.correo }}</td>
        </tr>

        {% endfor %}

    </table>

</body>

</html>